services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: fluttrium_app
    restart: always
    ports:
      - "3400:3000"
    env_file:
      - .env
    environment:
      NODE_ENV: production
      PORT: 3000