/* Particles.css */
.particles {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  overflow: hidden;
  z-index: 0;
}

.particles::before,
.particles::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 200%;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.2) 20%,
    transparent 80%
  );
  animation: floatParticles 15s infinite linear;
  opacity: 0.7;
}

.particles::after {
  animation-direction: reverse;
}

@keyframes floatParticles {
  0% {
    transform: translate3d(-50%, -50%, 0);
  }
  100% {
    transform: translate3d(50%, 50%, 0);
  }
}
